<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springseecurity5">
<head>
    <meta charset="UTF-8">
    <title>Bad User</title>
</head>
<body>
    <h1 th:text="${param.message}">Error Message</h1>
    <a th:href="@{registration}" th:text="#{label.form.loginSignUp}">Sign Up</a>
</body>
</html>